@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 폰트 */
@font-face {
  font-family: "impact";
  src: url("/ttf/impact.ttf") format("truetype");
  font-weight: normal;
}
.noto {
  font-family: "Noto Sans KR", sans-serif;
}

.rale {
  font-family: "Raleway", sans-serif;
}

.impact {
  font-family: "impact";
}

.serif {
  font-family: "Noto Serif", serif;
}

.gothic {
  font-family: "Nanum Gothic", sans-serif;
}

.circle {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  border-radius: 50%;
  background: #000;
  color: rgb(243, 156, 18);
}
.circle_copy {
  width: 160px;
  height: 160px;
  background: #fff;
  border: 8px solid #000;
  border-radius: 50%;
}

.arrow {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  background: #000;
}
.arrow::before {
  width: 120px;
  height: 20px;
  top: 10px;
  right: 15px;
}
.arrow::after {
  width: 20px;
  height: 120px;
  top: 10px;
  right: 12px;
}
.arrow span {
  width: 20px;
  height: 111%;
  display: block;
  position: relative;
  margin-left: 26px;
  transform: rotate(45deg);
  background: #000;
}

.main_circle {
  width: 500px;
  height: 500px;
  position: fixed;
  top: -100%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 50%;
  box-shadow: inset 30px 30px 90px 20px rgba(0, 0, 0, 0.15), inset 60px 60px 90px 20px rgba(0, 0, 0, 0.08), inset 100px 100px 100px 100px rgba(11, 138, 192, 0.1), inset 120px 120px 120px 120px rgba(11, 138, 192, 0.15), inset 130px 130px 130px 130px rgba(11, 138, 192, 0.2), inset -160px -160px 160px 160px rgba(184, 179, 246, 0.4), inset -250px -250px 160px 250px rgba(184, 179, 246, 0.5), inset -350px -250px 160px 350px rgba(184, 179, 246, 0.6), 0px 0px 13px 4px rgba(255, 255, 255, 0.3), 0px 0px 5px 1px rgba(255, 255, 255, 0.22);
  transition: top 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), bottom 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), left 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), width 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), height 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), z-index 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main_circle.ani {
  bottom: auto;
  top: 50%;
  opacity: 1;
  visibility: visible;
  transition-delay: 1.2s;
}
.main_circle.move {
  width: 400px;
  height: 400px;
  top: auto;
  bottom: -60px;
  left: -30px;
  z-index: initial;
  transform: translate(0);
  transition: top 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), bottom 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), left 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), width 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), height 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), z-index 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.section01 {
  height: 100vh;
  position: relative;
  padding: 180px 0 180px;
}
.section01-inner {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}
.section01-inner .con-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif", serif;
  color: #fff;
}
.section01-inner .con-box h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 180px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section01-inner .con-box h1 span {
  height: 219px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(219px);
  overflow: hidden;
  transition: transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform;
}
.section01-inner .con-box h1 span:nth-child(1) {
  transition-delay: 0.2s;
}
.section01-inner .con-box h1 span:nth-child(2) {
  transition-delay: 0.3s;
}
.section01-inner .con-box h1 span:nth-child(3) {
  transition-delay: 0.4s;
}
.section01-inner .con-box h1 span:nth-child(4) {
  transition-delay: 0.5s;
}
.section01-inner .con-box h1 span:nth-child(5) {
  transition-delay: 0.6s;
}
.section01-inner .con-box h1 span:nth-child(6) {
  transition-delay: 0.7s;
}
.section01-inner .con-box h1 span:nth-child(7) {
  transition-delay: 0.8s;
}
.section01-inner .con-box h1 span:nth-child(8) {
  transition-delay: 0.9s;
}
.section01-inner .con-box h1 span:nth-child(9) {
  transition-delay: 1s;
}
.section01 .line {
  width: 1px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}
.section01 .left_line {
  height: 0;
  bottom: 0;
  right: calc(100% - 330px);
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 1.5s;
}
.section01 .right_line {
  height: 0;
  top: 0;
  left: calc(100% - 330px);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 1.8s;
}

.section01.ani .section01-inner .con-box h1 span {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.section01.ani .left_line {
  height: 250px;
}
.section01.ani .right_line {
  height: 450px;
}

.section01.move .left_line, .section01.move .right_line {
  height: 0;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0;
}

.section02 {
  position: relative;
  margin: 100px 0 0 0;
  color: #fff;
}
.section02 .txt-box {
  display: flex;
  flex-flow: column;
  margin: 0 0 100px 60px;
  overflow: hidden;
  font-size: 150px;
  font-family: "Noto Serif", serif;
}
.section02 .txt-box > div {
  display: flex;
  gap: 50px;
  overflow: hidden;
}
.section02 .txt-box > div p {
  display: flex;
}
.section02 .txt-box > div p span {
  height: 204px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(204px);
  overflow: hidden;
  transition: transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform;
}
.section02 .txt-box > div:first-child p span:nth-child(1) {
  transition-delay: 0.2s;
}
.section02 .txt-box > div:first-child p span:nth-child(2) {
  transition-delay: 0.3s;
}
.section02 .txt-box > div:first-child p span:nth-child(3) {
  transition-delay: 0.4s;
}
.section02 .txt-box > div:first-child p span:nth-child(4) {
  transition-delay: 0.5s;
}
.section02 .txt-box > div:first-child p span:nth-child(5) {
  transition-delay: 0.6s;
}
.section02 .txt-box > div:first-child p span:nth-child(6) {
  transition-delay: 0.7s;
}
.section02 .txt-box > div:first-child p span:nth-child(7) {
  transition-delay: 0.8s;
}
.section02 .txt-box > div:first-child p span:nth-child(8) {
  transition-delay: 0.9s;
}
.section02 .txt-box > div:first-child p span:nth-child(9) {
  transition-delay: 1s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(1) {
  transition-delay: 0.5s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(2) {
  transition-delay: 0.6s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(3) {
  transition-delay: 0.7s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(4) {
  transition-delay: 0.8s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(5) {
  transition-delay: 0.9s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(6) {
  transition-delay: 1s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(7) {
  transition-delay: 1.1s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(8) {
  transition-delay: 1.2s;
}
.section02 .txt-box > div:first-child p:last-child span:nth-child(9) {
  transition-delay: 1.3s;
}
.section02 .txt-box > div:last-child p span:nth-child(1) {
  transition-delay: 1.3s;
}
.section02 .txt-box > div:last-child p span:nth-child(2) {
  transition-delay: 1.4s;
}
.section02 .txt-box > div:last-child p span:nth-child(3) {
  transition-delay: 1.5s;
}
.section02 .txt-box > div:last-child p span:nth-child(4) {
  transition-delay: 1.6s;
}
.section02 .txt-box > div:last-child p span:nth-child(5) {
  transition-delay: 1.7s;
}
.section02 .txt-box > div:last-child p span:nth-child(6) {
  transition-delay: 1.8s;
}
.section02 .txt-box > div:last-child p span:nth-child(7) {
  transition-delay: 1.9s;
}
.section02 .txt-box > div:last-child p span:nth-child(8) {
  transition-delay: 2s;
}
.section02 .txt-box > div:last-child p span:nth-child(9) {
  transition-delay: 2.1s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(1) {
  transition-delay: 1.8s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(2) {
  transition-delay: 1.9s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(3) {
  transition-delay: 2s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(4) {
  transition-delay: 2.1s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(5) {
  transition-delay: 2.2s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(6) {
  transition-delay: 2.3s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(7) {
  transition-delay: 2.4s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(8) {
  transition-delay: 2.5s;
}
.section02 .txt-box > div:last-child p:last-child span:nth-child(9) {
  transition-delay: 2.6s;
}
.section02 .con-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
}
.section02 .con-box li {
  height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  counter-increment: li-counter;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section02 .con-box li a {
  display: block;
  font-size: 35px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section02 .con-box li a span {
  display: block;
  margin: 20px 0 0 7px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.section02 .con-box li::before {
  content: counter(li-counter, decimal-leading-zero);
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section02 .con-box li:last-child {
  flex-flow: initial;
  padding: 0;
}
.section02 .con-box li:last-child::before {
  display: none;
}
.section02 .con-box li:last-child:hover {
  background: none;
}
.section02 .con-box li:last-child img {
  display: block;
  margin: 0 auto;
}
.section02 .con-box li.hover {
  background: rgb(243, 156, 18);
}
.section02 .con-box li.hover::before {
  transform: translate(10px, -10px);
}
.section02 .con-box li.hover a {
  transform: translate(10px, -10px);
  color: #fff;
}
.section02 .con-box li.active::before {
  transform: translate(-100px, -10px);
  opacity: 0;
}
.section02 .con-box li.active a {
  transform: translate(-100px, -10px);
  opacity: 0;
}
.section02 .con-box::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
}
.section02 .workModal-wrap {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #000;
}
.section02 .workModal-wrap .comm {
  height: 100%;
  position: relative;
}
.section02 .workModal-wrap .comm .rep {
  height: 100%;
}
.section02 .workModal-wrap .comm .rep .iframe-wrap {
  width: 100%;
  height: 100%;
}
.section02 .workModal-wrap .comm .rep .iframe-wrap iframe {
  width: 100%;
  height: 100%;
}
.section02 .workModal-wrap .comm.active {
  opacity: 1;
  visibility: visible;
}
.section02 .workModal-wrap .cut {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 99;
  animation: bounce 2s infinite;
}
.section02 .workModal-wrap .cut span {
  width: 50px;
  height: 7px;
  display: block;
  position: relative;
  transform: rotate(-45deg);
  background: #fff;
}
.section02 .workModal-wrap .cut span::before, .section02 .workModal-wrap .cut span::after {
  content: "";
  width: 25px;
  height: 7px;
  position: absolute;
  right: -7px;
  background: #fff;
}
.section02 .workModal-wrap .cut span::before {
  bottom: 7px;
  transform: rotate(45deg);
}
.section02 .workModal-wrap .cut span::after {
  top: 7px;
  transform: rotate(-45deg);
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(0);
  }
  40% {
    transform: translate(-15px, 15px);
  }
  60% {
    transform: translate(-15px, 15px);
  }
}

.section02.ani .txt-box > div p span {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.section03 {
  position: relative;
  margin-top: 180px;
}
.section03-inner .txt-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}
.section03-inner .txt-box .p_arrow {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 50px;
}
.section03-inner .txt-box .p_arrow span {
  width: 20px;
  height: 100%;
  display: block;
  transform: rotate(-45deg);
  background: orange;
}
.section03-inner .txt-box .p_arrow::before, .section03-inner .txt-box .p_arrow::after {
  content: "";
  width: 120px;
  height: 20px;
  position: absolute;
  background: orange;
}
.section03-inner .txt-box .p_arrow::before {
  right: 16px;
  bottom: 8px;
}
.section03-inner .txt-box .p_arrow::after {
  width: 20px;
  height: 120px;
  right: 10px;
  bottom: 8px;
}
.section03-inner .txt-box h1 {
  display: flex;
  gap: 50px;
  font-size: 180px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.section03-inner .txt-box h1 p {
  display: flex;
  align-items: center;
}
.section03-inner .txt-box h1 span.impact {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-weight: normal;
  border-radius: 50%;
  background: orange;
  color: #000;
}