@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
body {
  padding: 0;
  padding-top: 118px;
  margin: 0;
  overflow-x: hidden;
  background: #000;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 폰트 */
@font-face {
  font-family: "impact";
  src: url("/ttf/impact.ttf") format("truetype");
  font-weight: normal;
}
.noto {
  font-family: "Noto Sans KR", sans-serif;
}

.rale {
  font-family: "Raleway", sans-serif;
}

.impact {
  font-family: "impact";
}

.serif {
  font-family: "Noto Serif", serif;
}

.gothic {
  font-family: "Nanum Gothic", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  mix-blend-mode: difference;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .header-inner {
  width: 1400px;
  height: 65px;
  line-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  color: #fff;
}
header .header-inner p {
  line-height: 59px;
  font-size: 32px;
}
header .header-inner ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin: 0;
}
header .header-inner ul li a {
  display: block;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
}
header.scroll {
  margin-top: -1px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.circle {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 90px;
  border-radius: 50%;
  background: #000;
  color: rgb(243, 156, 18);
}
.circle_copy {
  width: 160px;
  height: 160px;
  background: #fff;
  border: 8px solid #000;
  border-radius: 50%;
}

.arrow {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  background: #000;
}
.arrow::before {
  width: 120px;
  height: 20px;
  top: 10px;
  right: 15px;
}
.arrow::after {
  width: 20px;
  height: 120px;
  top: 10px;
  right: 12px;
}
.arrow span {
  width: 20px;
  height: 111%;
  display: block;
  position: relative;
  margin-left: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000;
}

.container_wide {
  /*
  .section02{position:relative; margin-bottom:250px;
      &-inner{
          .txt-box{
              .left{display:flex; align-items:center; justify-content:space-between; padding:0 30px; color:#fff;}                
              h1{display:flex; flex-flow:column; font-size:160px; font-weight:normal;
                  p{display:flex; align-items:center; gap:20px;}
                  span{width:200px; height:7px; display:block; background:$orange}
              }
              .deco{display:flex; align-items:center; gap:150px;
                  & > div{display:flex;
                      &:first-child{gap:30px;}
                  }
                  .circle_s{width:20px; height:20px; background:#fff; border-radius:50%;}
                  .circle_b{width:95px; height:95px; margin-left:-30px; background:#000; border-radius:50%;
                      &:nth-child(even){border:5px solid $orange;}
                      &:nth-child(odd){border:5px solid #fff;}
                  }
              }
          }
          .con-box{display:flex; justify-content:space-between;
              .left{display:grid; grid-template-columns:repeat(2,1fr); row-gap:50px; padding-left:60px;
                  .con{position:relative; font-size:16px; background:#fff; color:#000;
                      p{position:relative; z-index:5; font-weight:bold;}
                      span{width:11px; height:11px; display:block; position:absolute; background:#000; border-radius:50%;}
                      .bg{width:100%; height:100%; position:absolute; z-index:-1;}
                      &::before{content:""; width:100%; height:100%; position:absolute; left:0; top:0; background:#fff;}
                  }
                  .con01{width:155px; height:240px; margin-left:80px;
                      p{padding:10px 0 0 10px;}
                      span{top:12px; right:10px;}
                      .bg.black{right:-12px; bottom:-12px; background:#000;}
                      .bg.white{right:-20px; bottom:-20px; z-index:-2; background:#fff;}
                  }
                  .con02{width:320px; height:200px; margin:50px 0 0 100px;
                      p{padding:10px 10px 0 0; text-align:right;}
                      span{top:12px; left:10px;}
                      .bg:nth-child(3){left:-12px; bottom:-12px; background:#000;}
                      .bg:nth-child(4){left:-20px; bottom:-20px; z-index:-2; background:$orange;}
                      .bg:nth-child(5){left:-28px; bottom:-28px; z-index:-3; background:#000;}
                      .bg:nth-child(6){left:-36px; bottom:-36px; z-index:-4; background:#fff;}
                  }
                  .con03{width:280px; height:190px;
                      p{padding:10px 0 0 10px;}
                      span{top:12px; right:10px;}
                      .bg.black{right:-12px; bottom:-12px; background:#000;}
                      .bg.orange{right:-20px; bottom:-20px; z-index:-2; background:orange;}
                  }
                  .con04{width:425px; height:230px; margin:50px 0 0 0;
                      p{height:100%; display:inline-flex; align-items:flex-end; padding:0 0 10px 10px;}
                      span{left:10px; top:14px;}
                      .bg.black{right:-12px; bottom:-12px; background:#000;}
                      .bg.white{right:-20px; bottom:-20px; z-index:-2; background:#fff;}
                  }
              }
              .right{height:700px; position:absolute; right:0; margin:50px 0 0 0;
                  .order{height:100%; display:flex; flex-flow:column; justify-content:space-between; padding:10px 0; background:#fff;
                      .top{
                          .circle{position:relative;}
                          .circle_copy{margin-top:-100px;}
                      }
                      .bottom{width:160px; height:180px;
                          span{height:88%; transform:rotate(-45deg); margin-left:14px;}
                          &::before{top:13px; right:auto; left:15px;}
                          &::after{top:13px; right:auto; left:12px;}
                      }
                  }
              }
          }
      }
  }
  */
}
.container_wide .section01 {
  padding-bottom: 180px;
}
.container_wide .section01-inner {
  width: 1400px;
  margin: 0 auto;
}
.container_wide .section01-inner .order {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}
.container_wide .section01-inner .order .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}
.container_wide .section01-inner .order .circle {
  z-index: 5;
}
.container_wide .section01-inner .order .circle_copy {
  margin-left: -100px;
}
.container_wide .section01-inner .con-box {
  font-family: "Noto Serif", serif;
  color: #fff;
}
.container_wide .section01-inner .con-box h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -180px;
  font-size: 180px;
  font-weight: normal;
  letter-spacing: 3px;
}
.container_wide .section01-inner .con-box h1 span {
  display: block;
}
.container_wide .section01-inner .con-box h1 span.etc {
  position: relative;
  z-index: 1;
  color: #000;
}
.container_wide .section01-inner .con-box h1 span.etc::before {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 3px;
  background: #fff;
}
.container_wide .section01-inner .con-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -180px;
  font-size: 180px;
}
.container_wide .section01-inner .con-box div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}
.container_wide .section01-inner .con-box div p span {
  display: block;
}
.container_wide .section01-inner .con-box div p span.etc {
  position: relative;
  z-index: 1;
  color: #000;
}
.container_wide .section01-inner .con-box div p span.etc::before {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 3px;
  background: rgb(243, 156, 18);
}
.container_wide .section02 {
  position: relative;
  color: #fff;
}
.container_wide .section02 .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 0 100px 60px;
  font-size: 150px;
  font-family: "Noto Serif", serif;
}
.container_wide .section02 .txt-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.container_wide .section02 .txt-box > div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container_wide .section02 .con-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
}
.container_wide .section02 .con-box li {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 30px;
  counter-increment: li-counter;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.container_wide .section02 .con-box li a {
  display: block;
  font-size: 35px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.container_wide .section02 .con-box li a span {
  display: block;
  margin: 20px 0 0 7px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.container_wide .section02 .con-box li::before {
  content: counter(li-counter, decimal-leading-zero);
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.container_wide .section02 .con-box li:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: initial;
          flex-flow: initial;
  padding: 0;
}
.container_wide .section02 .con-box li:last-child::before {
  display: none;
}
.container_wide .section02 .con-box li:last-child:hover {
  background: none;
}
.container_wide .section02 .con-box li:last-child img {
  display: block;
  margin: 0 auto;
}
.container_wide .section02 .con-box li.hover {
  background: rgb(243, 156, 18);
}
.container_wide .section02 .con-box li.hover::before {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}
.container_wide .section02 .con-box li.hover a {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  color: #fff;
}
.container_wide .section02 .con-box li.hover.active::before {
  -webkit-transform: translate(-100px, -10px);
          transform: translate(-100px, -10px);
  opacity: 0;
}
.container_wide .section02 .con-box li.hover.active a {
  -webkit-transform: translate(-100px, -10px);
          transform: translate(-100px, -10px);
  opacity: 0;
}
.container_wide .section02 .con-box::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
}
.container_wide .section02 .workModal-wrap {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #000;
}
.container_wide .section02 .workModal-wrap .comm {
  height: 100%;
  position: relative;
}
.container_wide .section02 .workModal-wrap .comm .rep {
  height: 100%;
}
.container_wide .section02 .workModal-wrap .comm .rep .iframe-wrap {
  width: 100%;
  height: 100%;
}
.container_wide .section02 .workModal-wrap .comm .rep .iframe-wrap iframe {
  width: 100%;
  height: 100%;
}
.container_wide .section02 .workModal-wrap .comm.show {
  opacity: 1;
  visibility: visible;
}
.container_wide .section02 .workModal-wrap .cut {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 99;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
.container_wide .section02 .workModal-wrap .cut span {
  width: 50px;
  height: 7px;
  display: block;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #fff;
}
.container_wide .section02 .workModal-wrap .cut span::before, .container_wide .section02 .workModal-wrap .cut span::after {
  content: "";
  width: 25px;
  height: 7px;
  position: absolute;
  right: -7px;
  background: #fff;
}
.container_wide .section02 .workModal-wrap .cut span::before {
  bottom: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.container_wide .section02 .workModal-wrap .cut span::after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40% {
    -webkit-transform: translate(-15px, 15px);
            transform: translate(-15px, 15px);
  }
  60% {
    -webkit-transform: translate(-15px, 15px);
            transform: translate(-15px, 15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40% {
    -webkit-transform: translate(-15px, 15px);
            transform: translate(-15px, 15px);
  }
  60% {
    -webkit-transform: translate(-15px, 15px);
            transform: translate(-15px, 15px);
  }
}
.container_wide .section03 {
  position: relative;
  margin-top: 180px;
}
.container_wide .section03-inner .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}
.container_wide .section03-inner .txt-box .p_arrow {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-right: 50px;
}
.container_wide .section03-inner .txt-box .p_arrow span {
  width: 20px;
  height: 100%;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: orange;
}
.container_wide .section03-inner .txt-box .p_arrow::before, .container_wide .section03-inner .txt-box .p_arrow::after {
  content: "";
  width: 120px;
  height: 20px;
  position: absolute;
  background: orange;
}
.container_wide .section03-inner .txt-box .p_arrow::before {
  right: 16px;
  bottom: 8px;
}
.container_wide .section03-inner .txt-box .p_arrow::after {
  width: 20px;
  height: 120px;
  right: 10px;
  bottom: 8px;
}
.container_wide .section03-inner .txt-box h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-size: 180px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.container_wide .section03-inner .txt-box h1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container_wide .section03-inner .txt-box h1 span.impact {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 90px;
  font-weight: normal;
  border-radius: 50%;
  background: orange;
  color: #000;
}